.api-logo{
    font-weight: 900;
    color: #333537;
}

img{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.single-portfolio{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.api-td {
    max-width: 200px;
    word-wrap: break-word !important;
    white-space: normal !important;
}

.api-logo{
    margin-top: -15px;
}

.circle {
    display: block; /* Changed from 'none' to 'block' to make it visible */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed; /* Use fixed positioning to keep it in place */
    right: 20px;
    bottom: 20px;
    background-color: #fd5704a2;
    z-index: 9999999;
    animation: float 3s ease-in-out infinite; /* Added animation */
}

.circle:hover {
    background-color: #fd5504;
}

.circle i {
    font-size: 25px;
}

.btn-outline-primary:hover{
    color: #fff !important;
}

.social-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-btn span {
    font-size: 20px;
}

/* Keyframes for the floating animation */
@keyframes float {
    0%, 100% {
        transform: translateY(0); /* Start and end at the original position */
    }
    50% {
        transform: translateY(-20px); /* Move up by 20px */
    }
}

.custom-list {
    list-style-type: none; /* Remove default numbering */
    padding-left: 0; /* Remove default padding */
}

.custom-list li {
    display: flex; /* Use flexbox for alignment */
    align-items: flex-start; /* Align items to the top */
}

.custom-list li .fw-bold {
    margin-right: 10px; /* Add spacing between the number and text */
    white-space: nowrap; /* Prevent the number from wrapping */
}

.my-no-shadow{
    box-shadow: none !important;
}

.my-td-normal {
    white-space: normal !important;
}


















@media (max-width: 767.98px) {
    .api-width {
        width: 100%;
    }
    .api-none{
        display: none !important;
    }

    .my-td-normal {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Show only 1 line */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal !important;
        padding-bottom: 0px !important;
        padding-top: 6px !important;
    }

}

@media (min-width: 1200px) {
    .api-logo{
        margin-top: -10px;
    }

}

